<!-- <p>home works!</p> -->
<app-header></app-header>
<section class="home">
    <div class="content">
        <h1>creative landing pages</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex voluptatibus corrupti ullam omnis optio dolore
            doloremque fugit, consequatur reprehenderit vel ipsum saepe tenetur iusto quos itaque voluptates aut?
            Perspiciatis, neque?</p>
            <a href="#"><button class="btn">Get started</button></a>
    </div>
    <div class="image">
        <img src="assets\Uploading-cuate (1).svg">
    </div>

</section>
<app-footer></app-footer>