.webcam {
    margin-top: 66px;
    
}

.btn{
    font-size: 20px;
    padding: 15px 32px;
    background-color: orange;
    color: whitesmoke;
    /* margin-top: 10px; */
    cursor: pointer;
    border: none;
    text-align: center;
    /* float: left; */
  
}
 .btn:hover{
 background: #333;
}