<app-header></app-header>
<section class="service">
    <div class="box-container">

        <div class="box">
            <i class="fas fa-tools"></i>
            <h3>Web development</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error voluptatum magnam aspernatur dolorem
                deleniti corrupti corporis eaque, beatae dolores hic?</p>
        </div>

        <div class="box">
            <i class="fas fa-code"></i>
            <h3>Web design</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error voluptatum magnam aspernatur dolorem
                deleniti corrupti corporis eaque, beatae dolores hic?</p>
        </div>
        <div class="box">
            <i class="fas fa-mobile"></i>
            <h3>Responsive design</h3>
             <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error voluptatum magnam aspernatur dolorem
                deleniti corrupti corporis eaque, beatae dolores hic?</p>
        </div>

        <div class="box">
            <i class="fas fa-paint-brush"></i>
            <h3>Graphic design</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error voluptatum magnam aspernatur dolorem
                deleniti corrupti corporis eaque, beatae dolores hic?</p>
        </div>

        <div class="box">
            <i class="fas fa-wordpress"></i>
            <h3>Wordpress</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error voluptatum magnam aspernatur dolorem
                deleniti corrupti corporis eaque, beatae dolores hic?</p>
        </div>

        <div class="box">
            <i class="fas fa-bullhorn"></i>
            <h3>Seo marketing</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error voluptatum magnam aspernatur dolorem
                deleniti corrupti corporis eaque, beatae dolores hic?</p>
        </div>
    </div>
</section>

<app-footer></app-footer>