<app-header></app-header>
<div class="contact">

    <form action="">
        <input type="text" class="box" placeholder="name">
        <input type="email" class="box" placeholder="email">
        <input type="password" class="box" placeholder="Your password">
        <textarea name="" id="" cols="30" rows="10" class="box message" placeholder="message"></textarea>
        <input type="submit" class="btn" value="send message">
    </form>
    
    <div class="content">
        <h3>Contact us for latest updates</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea eaque similique, accusantium, incidunt facilis
            odio
            voluptates veritatis dolore odit vel id fugiat quisquam perspiciatis sit animi. Consequuntur explicabo quis
            molestias.</p>
        <div class="icons">
            <i  class='fas fa-map-marker-alt'></i>Mohali , India 400104.
        </div>

        <div class="icons">
            <i class="fas fa-globe"></i>www.yourwebsite.com
        </div>

        <div class="icons">
            <i class="fas fa-phone"></i>+1234567890
        </div>

    </div>
</div>

<app-footer></app-footer>